@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}
body{
	overflow-x:hidden;
}
#top-site-nav{
	width:100%;
	height:36px;
	background-color:#eeeeec;
	box-shadow:0px 1px 2px 0 rgba(123,123,123,0.4);
}
div.center-position-box{
	width:1200px;
	margin:0px auto;
}
#top-site-nav #top-center-contain{
	height:36px;
	line-height:36px;
	overflow:hidden;
}
#top-site-nav #top-center-contain ul#top-left-nav{
	width:auto;
	height:36px;
	float:left;
}
#top-site-nav #top-center-contain ul.site-nav li{
	display:inline-block;
	width:70px;
	height:36px;
	float:left;
	text-align:center;
	font-size:9pt;
	font-family:"songti";
	list-style:none;
}
ul li.nav-item-bgcolor:hover{
	background-color:#ffffff;
}
#top-site-nav #top-center-contain ul.site-nav li a:link,
#top-site-nav #top-center-contain ul.site-nav li a:visited{
	color:#44444f;
	text-decoration:none;
}
#top-site-nav #top-center-contain ul.site-nav li a:hover,
#top-site-nav #top-center-contain ul.site-nav li a:active{
	color:orange;
}
#top-site-nav #top-center-contain ul#top-right-nav{
	width:auto;
	height:36px;
	float:right;
}
b.tolow-point{
	width:0px;
	height:0px;
	float:right;
	margin-top:15px;
	margin-right:5px;
	border-top-color:#aaaaac;
	border-bottom-color:transparent;
	border-right-color:transparent; 
	border-left-color:transparent;
	border-top-style:solid;
	border-bottom-style:dashed;
	border-right-style:dashed; 
	border-left-style:dashed;
	border-width:3px;
}
#site-head{
	float:left;
	width:100%;
	height:120px;
}
#site-head #head-wrapper{
	height:100px;
	margin-top:20px;
}
#site-head #head-wrapper #logo{
	width:200px;
	height:100px;
	float:left;
}
#site-head #head-wrapper #logo a:link,#site-head #head-wrapper a:visited{
	display:inline-block;
	width:143px;
	height:59px;
	margin-top:20px;
	overflow:hidden;
}
#site-head #head-wrapper #search-info{
	width:604px;
	height:100px;
	float:left;
}
#site-head #head-wrapper #search-info #search-hd{
	width:604px;
	height:25px;
}
#site-head #head-wrapper #search-info #search-hd table tr td a:link,
#site-head #head-wrapper #search-info #search-hd table tr td a:visited{
	display:block;
	width:35px;
	height:25px;
	color:orange;
	line-height:25px;
	font-size:9pt;
	text-decoration:none;
	text-align:center;
}
#site-head #head-wrapper #search-info #search-hd table tr td:first-child a{
	background-color:orange;
	color:#ffffff;
	border-radius:6px 6px 0px 0px;
}
#site-head #head-wrapper #search-info #search-hd table tr td a.change:hover,
#site-head #head-wrapper #search-info #search-hd table tr td a.change:hover{
	background-color:#fee8e8;
}
#site-head #head-wrapper #search-info #search-field{
	width: 604px;
	height:50px;
}
#site-head #head-wrapper #search-info #search-field form{
	position:relative;
	width:600px;
	height:40px;
	border:2px solid orange;
	border-radius:20px;
}
#site-head #head-wrapper #search-info #search-field form label#bg-info{
	position:absolute;
	left:20px;
	width:100px;
	height:40px;
	font-size:10pt;
	line-height:40px;
	border-radius:20px 0px 0px 20px;
	z-index:1;
}
#site-head #head-wrapper #search-info #search-field form input#enter-search{
	position:relative;
	width:485px;
	height:40px;
	float:left;
	margin-left:15px;
	border-radius:20px 0px 0px 20px;
	border-style:none;
	z-index:2;
	opacity:0.8;
}
#site-head #head-wrapper #search-info #search-field form input#find{
	width:100px;
	height:40px;
	color:#ffffff;
	background-color:orange;
	float:left;
	border-radius:0px 20px 20px 0px;
	border-style:none;
}
#site-head #head-wrapper #search-info #search-nav ul{
	width:604px;
	height:21px;
}
#site-head #head-wrapper #search-info #search-nav ul li{
	width:auto;
	height:21px;
	display:inline-block;
	list-style:none;
}
#site-head #head-wrapper #search-info #search-nav ul li a.change:link,
#site-head #head-wrapper #search-info #search-nav ul li a.change:visited{
	color:orange;
}
#site-head #head-wrapper #search-info #search-nav ul li a:link,
#site-head #head-wrapper #search-info #search-nav ul li a:visited{
	display:block;
	width:auto;
	height:21px;
	color:#000000;
	font-size:9pt;
	text-decoration:none;
}
#site-head #head-wrapper #search-info #search-nav ul li a:hover,
#site-head #head-wrapper #search-info #search-nav ul li a:active{
	color:orange;	
}
#site-head #head-wrapper #get-info{
	width:396px;
	height:100px;
	float:left;
}
#site-head #head-wrapper #get-info img{
	display:block;
	width:80px;
	height:80px;
	margin:0px auto;
}
#main-nav{
	width:100%;
	height:30px;
	background-color:orange;
	float:left;
}
#main-nav #nav-box{
	height:30px;
}
#main-nav #nav-box #main-sitenavs{
	width:1000px;
	height:30px;
	float:left;
}
#main-nav #nav-box #main-sitenavs ul{
	width:auto;
	height:30px;
	display:inline-block;
	float:left;
}
#main-nav #nav-box #main-sitenavs ul li{
	display:inline-block;
	width:65px;
	height:30px;
	float:left;
	margin:0px 5px;
}
#main-nav #nav-box #main-sitenavs ul li a:link,
#main-nav #nav-box #main-sitenavs ul li a:visited{
	display:block;
	width:65px;
	height:30px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
#main-nav #nav-box #main-sitenavs ul li a:hover,
#main-nav #nav-box #main-sitenavs ul li a:active{

}
#main-nav #nav-box #main-sitenavs span{
	color:#ffffff;
	float:left;
	margin:0px 15px;
}
#center-content{
	float:left;
	width:100%;
	height:600px;
	background-color:#f3f3f3;
}
#center-content #content-field{
	height:632px;
}
#center-content #content-field #content-left-nav{
	 width:200px;
	 height:600px;
	 float:left;
	 background-color:#fff;
	 border:1px solid red;
	 border-top:none;
}
#center-content #content-field #content-left-nav ul{
	width:200px;
	height:600px;
}
#center-content #content-field #content-left-nav ul li{
	width:200px;
	height:36px;
	text-align:center;
	line-height:36px;
	list-style:none;
	font-family:"songti";
}
#center-content #content-field #content-left-nav ul li:first-child{
	margin-top:10px;
}
#center-content #content-field #content-left-nav ul li:hover{
	background-color:#fef0f2;
}
#center-content #content-field #content-left-nav ul li a:link,
#center-content #content-field #content-left-nav ul li a:visited{
	display:inline-block;
	width:auto;
	height:36px;
	color:#666666;
	line-height:36px;
	float:left;
	font-size:10pt;
	font-family:"songti";
	text-decoration:none;
}
#center-content #content-field #content-left-nav ul li a:hover,
#center-content #content-field #content-left-nav ul li a:active{
	color:orange;
	text-decoration:none;
}
#center-content #content-field #content-left-nav ul li a:first-child{
	margin-left:30px;
}
#center-content #content-field #content-left-nav ul li b{
	height:36px;
	color:#666666;
	float:left;	
	margin:0px 5px;
}
#center-content #content-field #content-left-nav ul li span{
	width:20px;
	height:36px;
	font-size:15pt;
	float:right;
}
#center-content #content-field #content-show-info{
	width:540px;
	height:600px;
	float:left;
}
#center-content #content-field #content-show-info #top-info{
	width:540px;
	height:290px;
	margin:10px 0px 0px 10px;
	text-align:center;
}
#center-content #content-field #content-show-info #show-hd-info{
	width:530px;
	height:30px;
	margin:0px 0px 0px 20px;
}
#center-content #content-field #content-show-info #bottom-info{
	width:530px;
	height:200px;
	background:#fff;
	margin:0px 0px 0px 10px;
	text-align:center;
}
#center-content #content-field #show-new-info{
	width:170px;
	height:600px;
	float:left;
	margin:10px 0px 0px 10px;
}
#center-content #content-field #show-new-info #top-new-img{
	width:170px;
	height:290px;
	text-align:center;
}
#center-content #content-field #content-show-info #show-hd-info{
	width:530px;
	height:30px;
	margin:0px 0px 0px 20px;
}
#center-content #content-field #show-new-info #bottom-new-img{
	width:170px;
	height:200px;
	text-align:center;
}